flows_beaglebone.json
[{"id":"ef783a52.b78d88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"675bdba0.4c9004","type":"nodebot","z":"","name":"BB","username":"","password":"","boardType":"beaglebone-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"de30f3e4.7cbd7","type":"ui_tab","z":"","name":"Vegetables","icon":"dashboard"},{"id":"163d4da2.f66302","type":"ui_group","z":"","name":"Default","tab":"de30f3e4.7cbd7","disp":true,"width":"6"},{"id":"20e4b190.a05f7e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"db013a7a.cf0fc8","type":"ui_group","z":"","name":"Settings","tab":"de30f3e4.7cbd7","disp":true,"width":"6"},{"id":"13c09805.33d498","type":"mqtt-broker","z":"","name":"MQTT Baitfish","broker":"baitfish.ourhouse","port":"1883","clientid":"Beaglebone","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c7a3c6fd.023188","type":"mqtt-broker","z":"","name":"Picloud","broker":"picloud.ourhouse","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d7331817.106a98","type":"inject","z":"ef783a52.b78d88","name":"","topic":"","payload":"GO","payloadType":"str","repeat":"","crontab":"","once":true,"x":230,"y":140,"wires":[["d6a3309c.7f699"]]},{"id":"6cd56c3b.2d6ef4","type":"function","z":"ef783a52.b78d88","name":"Pulser","func":"var freq = global.get(\"interval\") || 60;\nvar duration = global.get(\"duration\") || 5;\n\nfunction turn_off() {\n    msg.payload = 1;\n    node.send([msg,null]);\n}\n\nfunction turn_on(dur = 5) {\n    dur = global.get(\"duration\");\n    msg.payload = 0;\n    node.send( [msg,null] );\n    setTimeout(turn_off, dur * 1000);\n    new_timer();\n}\n\nif (msg.payload === \"GO\") {\n    turn_off();\n    msg.payload = \"GO\"\n    return msg;\n}\n\nfunction new_timer() {\n    if (typeof intv !== 'undefined') {\n        clearInterval(intv);\n    }\n    global.set(\"countdown\",freq);\n    intv = setInterval(turn_on, freq * 1000 * 60, duration);\n}\n\nif (msg.payload === \"OnNow\") {\n    turn_on(duration);\n}\n\nif (msg.topic === \"timers\") {\n    new_timer();\n}\n\nif (msg.topic === \"tick\") {\n    cnt = global.get(\"countdown\");\n    if (cnt > 0) {\n        cnt -= msg.payload;\n        global.set(\"countdown\", cnt);\n        msg.payload = cnt;\n        node.send([null,msg]);\n    }\n}\nreturn null;","outputs":2,"noerr":0,"x":673,"y":252,"wires":[["3933162e.2615ca"],["9a2ccc3f.3c777"]]},{"id":"3933162e.2615ca","type":"gpio out","z":"ef783a52.b78d88","name":"relay 1","state":"OUTPUT","pin":"P9_11","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"675bdba0.4c9004","x":890,"y":220,"wires":[]},{"id":"997d2f4f.b13c3","type":"ui_text","z":"ef783a52.b78d88","group":"163d4da2.f66302","order":1,"width":0,"height":0,"name":"","label":"Frequency (minute)","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":60,"wires":[]},{"id":"2294be80.b56112","type":"ui_button","z":"ef783a52.b78d88","name":"","group":"163d4da2.f66302","order":5,"width":0,"height":0,"passthru":true,"label":"The Button","color":"","bgcolor":"","icon":"","payload":"OnNow","payloadType":"str","topic":"button","x":473,"y":312,"wires":[["6cd56c3b.2d6ef4"]]},{"id":"dd3bcdd0.9e128","type":"ui_slider","z":"ef783a52.b78d88","name":"Frequency","label":"Frequency","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"passthru":true,"topic":"frequency","min":0,"max":"1440","step":"2","x":233,"y":212,"wires":[["d6a3309c.7f699","997d2f4f.b13c3"]]},{"id":"6774bd32.41f1d4","type":"ui_slider","z":"ef783a52.b78d88","name":"Duration","label":"Duration","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"passthru":true,"topic":"duration","min":0,"max":"300","step":1,"x":220,"y":280,"wires":[["d6a3309c.7f699","1c1ce6a3.b26f59"]]},{"id":"d6a3309c.7f699","type":"function","z":"ef783a52.b78d88","name":"globals","func":"var intr = global.get(\"interval\") || 30.0;\nvar dur  = global.get(\"duration\") ||  5.0;\nvar trig = global.get(\"trigger\")  || 990.0;\n\nif (msg.topic === \"frequency\") {\n    intr = msg.payload;\n}\n\nif (msg.topic === \"duration\") {\n    dur = msg.payload;\n}\n\nif (msg.topic === \"trigger\") {\n    trig = msg.payload;\n}\n\nnode.status({fill:\"grey\",shape:\"dot\",text:\"Int: \" + intr + \" | Dur: \" + dur});\n\nglobal.set(\"interval\", intr);\nglobal.set(\"duration\", dur);\nglobal.set(\"trigger\", trig);\n\nmsg.payload = \"GO\";\nmsg.topic = \"timers\";\nreturn msg;","outputs":1,"noerr":0,"x":483,"y":212,"wires":[["6cd56c3b.2d6ef4"]]},{"id":"ee48fd03.3ade1","type":"debug","z":"ef783a52.b78d88","name":"PulserOut","active":true,"console":"false","complete":"true","x":903,"y":132,"wires":[]},{"id":"1b36f9ad.7afe16","type":"gpio in","z":"ef783a52.b78d88","name":"Moist","state":"ANALOG","samplingInterval":"300","pin":"P9_40","board":"675bdba0.4c9004","x":210,"y":400,"wires":[["4444b0aa.55eb9"]]},{"id":"4444b0aa.55eb9","type":"delay","z":"ef783a52.b78d88","name":"30 seconds","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":400,"wires":[["8c21af5e.8e23f","8f1f910.ee1bb7","1cb92d71.51a263","64966cc3.8ed5c4"]]},{"id":"8c21af5e.8e23f","type":"function","z":"ef783a52.b78d88","name":"Moisture Level","func":"var trig = global.get(\"trigger\");\n\nif (msg.payload <= trig) {\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Watering: \" + msg.payload});\n    msg.topic = 'moisture';\n    msg.payload = 'OnNow';\n    \n    return msg;\n}\nelse {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Moist OK: \" + msg.payload});\n    return null;\n}    ","outputs":1,"noerr":0,"x":590,"y":401,"wires":[["6cd56c3b.2d6ef4"]]},{"id":"8f1f910.ee1bb7","type":"ui_gauge","z":"ef783a52.b78d88","name":"","group":"163d4da2.f66302","order":4,"width":0,"height":0,"gtype":"gage","title":"Moisture Level","label":"Dry __________ Wet","format":"{{value}}","min":0,"max":"600","colors":["#f7a009","#0cf634","#1621e8"],"seg1":"","seg2":"","x":600,"y":480,"wires":[]},{"id":"d1b03727.4f2368","type":"ui_slider","z":"ef783a52.b78d88","name":"Trigger","label":"Moist Trigger","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"passthru":true,"topic":"trigger","min":0,"max":"1000","step":"5","x":223,"y":347,"wires":[["d6a3309c.7f699","8b8d2a12.f08d38"]]},{"id":"1c1ce6a3.b26f59","type":"ui_text","z":"ef783a52.b78d88","group":"163d4da2.f66302","order":2,"width":0,"height":0,"name":"","label":"Duration (second)","format":"{{msg.payload}}","layout":"row-spread","x":511,"y":97,"wires":[]},{"id":"8b8d2a12.f08d38","type":"ui_text","z":"ef783a52.b78d88","group":"163d4da2.f66302","order":3,"width":0,"height":0,"name":"","label":"Trigger","format":"{{msg.payload}}","layout":"row-spread","x":482,"y":137,"wires":[]},{"id":"1cb92d71.51a263","type":"ui_chart","z":"ef783a52.b78d88","name":"","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"label":"Moisture 1 Day","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":595,"y":531,"wires":[[],[]]},{"id":"9a2ccc3f.3c777","type":"ui_text","z":"ef783a52.b78d88","group":"db013a7a.cf0fc8","order":0,"width":0,"height":0,"name":"Countdown","label":"Minutes Remaining","format":"{{msg.payload}}","layout":"row-spread","x":923,"y":306,"wires":[]},{"id":"d7395ef1.177c9","type":"inject","z":"ef783a52.b78d88","name":"","topic":"tick","payload":"1","payloadType":"num","repeat":"60","crontab":"","once":false,"x":517,"y":360,"wires":[["6cd56c3b.2d6ef4"]]},{"id":"64966cc3.8ed5c4","type":"mqtt out","z":"ef783a52.b78d88","name":"mqtt-moist","topic":"sun-chaser/arcto/moisture","qos":"0","retain":"false","broker":"c7a3c6fd.023188","x":589,"y":588,"wires":[]},{"id":"21688fe9.099a3","type":"debug","z":"ef783a52.b78d88","name":"","active":true,"console":"false","complete":"false","x":390,"y":580,"wires":[]},{"id":"8cfa036d.2e934","type":"bbb-analogue-in","z":"ef783a52.b78d88","pin":"P9_35","topic":"","breakpoints":[{"input":0,"output":0,"mutable":false},{"input":1,"output":1,"mutable":false}],"averaging":true,"name":"","x":326,"y":504,"wires":[["c6c82dcd.c3297"]]},{"id":"7e83794e.b5da08","type":"inject","z":"ef783a52.b78d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":120,"y":505,"wires":[["8cfa036d.2e934"]]},{"id":"bc7fc583.f2e198","type":"mqtt out","z":"ef783a52.b78d88","name":"","topic":"sun-chaser/temperature/beaglebone/arctotherm","qos":"0","retain":"false","broker":"c7a3c6fd.023188","x":442,"y":647,"wires":[]},{"id":"c6c82dcd.c3297","type":"function","z":"ef783a52.b78d88","name":"Thermistor to Temperature","func":"var TH_COEFFICIENT = 3950;\nvar TH_NOMINAL     = 10000;\nvar TEMP_NOMINAL   = 25.0;\nvar SERIES_RESIST  = 10000;\n\nvar reading = 1.0 - msg.payload;\n\nfunction resistance_from_reading(reading) {\n    resistance = (1.0 / reading - 1) * SERIES_RESIST;\n    return resistance;\n}\n\nfunction thermistor_to_celsius(reading) {\n    res = resistance_from_reading(reading);\n    rdg = (res / TH_NOMINAL);\n    rdg = Math.log(rdg);\n    rdg /= TH_COEFFICIENT;\n    rdg += 1.0 / (TEMP_NOMINAL + 273.15);\n    rdg = 1.0 / rdg;\n    rdg -= 273.15;\n    return rdg;\n}\n\nfunction c_to_f(c) {\n    return (c * (9.0 / 5.0) +32);\n}\n\nvar tempC = thermistor_to_celsius(reading);\nvar tempF = c_to_f(tempC);\n\nmsg.payload = tempC;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":580,"wires":[["bc7fc583.f2e198"]]}]